.channel-player-content {
    padding: 20px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.channel-player-wrapper {
    padding-bottom: 72px;
    max-width: 1440px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0;
    border-radius: 4px;
    background: rgba(32, 32, 40, 0.4);
}

.channel-player {
    width: 75%;
    aspect-ratio: 16/9;
}

.channel-player-area {
    width: 100%;
    display: flex;
}

.channel-player-chat {
    border-radius: 0 4px 0 0;
    width: 25%;
    background: rgb(54, 58, 67, 0.7);
}

.channel-player__info {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player__user-info-wrapper {
    padding: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.channel-player__info__user__username {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #E0D9F6;
    padding: 7px 0;
}

.channel-player__info__user__description{
    lfont-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #E0D9F6;
}

.channel-player__info__user__tag{
    lfont-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #E0D9F6;
    padding: 7.5px 0;
}



