@keyframes status-marker-animation {
    0% {
        background: rgba(78, 193, 244, 0.01);
        box-shadow: inset 0 4px 4px #4EC1F4;
    }
    25% {
        background: rgba(194, 82, 225, 0.01);
        box-shadow: inset 0 4px 4px #C252E1;
    }
    75% {
        background: rgba(224, 217, 246, 0.01);
        box-shadow: inset 0 4px 4px #E0D9F6;
    }
    100% {
        background: rgba(78, 193, 244, 0.01);
        box-shadow: inset 0 4px 4px #4EC1F4;
    }
}

.status-marker {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(78, 193, 244, 0.01);
    box-shadow: inset 0 4px 4px #4EC1F4;
    animation-name: status-marker-animation;
    animation-iteration-count: infinite;
    animation-duration: var(--animation-time-common);
}

