@keyframes searchbar-animation {
    0% {
        box-shadow: 0px 0px 70px rgba(224, 217, 246, 0.2);

    }
    25% {
        box-shadow: 0px 0px 70px rgba(255, 255, 255, 0.2);
    }
    75% {
        box-shadow: 0px 0px 70px rgba(255, 255, 255, 0.2);
    }
    100% {
        box-shadow: 0px 0px 70px rgba(224, 217, 246, 0.2);
    }
}

.navigation-search {
    cursor: text;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    gap: 10px;
    width: 480px;
    height: 48px;
    background: #363A43;
    opacity: 0.5;
    border-radius: 6px;

}

.navigation-search-wrapper.active {
    height: 300px;
}

.navigation-search-wrapper {
    height: 48px;
    background: #363A43;
    opacity: 0.5;
    border-radius: 6px;
    animation-name: searchbar-animation;
    animation-iteration-count: infinite;
    animation-duration: var(--animation-time-common);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    flex-direction: column;
    transition: 0.5s height;
}


.navigation-search__icon svg {
    transition: 0.4s ease-in-out;
}

.navigation-search-wrapper.active .navigation-search__icon svg {
    height: 0;
    width: 0;
}

.navigation-search input {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #60646D;
    height: 24px;
}

.navigation-search input:focus {
    color: #E0D9F6;
}

.navigation-search__icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

